#.vscode/
node_modules
env/

*.pyc
.DS_STORE

.env.local

test_trash/*

diag_out_*
api.out
space_habit_frontier.log
space_habit_frontier-debug.log

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build